html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto; /* Enable horizontal scrolling when needed */
}

/*useraccount view */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
  margin-right: .5rem!important;
}

.color-primary {
  color: #6435f0;
}

.btn-primary {
  background-color: #6435f0 !important;
  border-color: #6435f0 !important;
  color: #fff !important;
  &:hover {
    background-color: #4f2abd !important;
    border-color: #4f2abd !important;
    color: #fff !important;
  }
}

.form-control:focus {
  border-color: #4f2abd !important;
  box-shadow: 0 0 0 .25rem rgba(100, 53, 240, .25) !important;
}

a {
  color: #6435f0 !important;
  &:hover {
    color: #4f2abd !important;
  }
}

.btn-outline-primary {
  border-color: #6435f0 !important;
  &:hover {
    background-color: #6435f0 !important;
    color: #fff !important;
  }
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #6435f0 !important;
}

.card {
  box-shadow: 0 2px 6px 2px rgba(100, 53, 240, .25) !important;
}

.position-relative {
  position: relative;
}

#startLocationSuggestions, #destinationSuggestions {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 10;
}

#startLocationSuggestions li, #destinationSuggestions li {
  cursor: pointer;
  padding: 5px;
}

#startLocationSuggestions li:hover, #destinationSuggestions li:hover {
  background-color: #f1f1f1;
}

#driverSection {
  overflow: hidden; /* Zakryj obsah při přechodu */
  height: 0;
  transition: height 0.5s ease; /* Hladký přechod výšky */
  display: none; /* Skryj element při výchozím stavu */
}

.btn-danger {
  color: white !important;
}

.btn-secondary {
  background-color: #35f0c5 !important;
  border-color: #35f0c5 !important;
  color: #fff !important;
  &:hover {
    background-color: #22987d !important;
    border-color: #22987d!important;
    color: #fff !important;
  }
}

.btn-outline-secondary {
  border-color: #35f0c5 !important;
  color: #35f0c5 !important;
  &:hover {
    background-color:#35f0c5 !important;
    color: #fff !important;
  }
}


