$primary: #0d6efd;
$secondary: rgb(234 179 8);
$muted: #78716c;

.text-secondary {
  color: $secondary !important;
}

.text-muted {
  color: $muted !important;
}

h1, h2, h3 {
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 120px !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: rgb(156 163 175);
  background-color: rgb(17 24 39);
  b {
    color: white;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto; /* Enable horizontal scrolling when needed */
}

/*useraccount view */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .65rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
  margin-right: .5rem!important;
}
/**
.color-primary {
  color: #6435f0;
}

.btn-primary {
  background-color: #6435f0 !important;
  border-color: #6435f0 !important;
  color: #fff !important;
  &:hover {
    background-color: #4f2abd !important;
    border-color: #4f2abd !important;
    color: #fff !important;
  }
}

.form-control:focus {
  border-color: #4f2abd !important;
  box-shadow: 0 0 0 .25rem rgba(100, 53, 240, .25) !important;
}

a {
  color: #6435f0 !important;
  &:hover {
    color: #4f2abd !important;
  }
}

.btn-outline-primary {
  border-color: #6435f0 !important;
  &:hover {
    background-color: #6435f0 !important;
    color: #fff !important;
  }
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #6435f0 !important;
}

 */

/**
.card {
  box-shadow: 0 2px 6px 2px rgba(100, 53, 240, .25) !important;
}
 */

.position-relative {
  position: relative;
}

#startLocationSuggestions, #destinationSuggestions {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 10;
}

#startLocationSuggestions li, #destinationSuggestions li {
  cursor: pointer;
  padding: 5px;
}

#startLocationSuggestions li:hover, #destinationSuggestions li:hover {
  background-color: #f1f1f1;
}

#driverSection {
  overflow: hidden; /* Zakryj obsah při přechodu */
  height: 0;
  transition: height 0.5s ease; /* Hladký přechod výšky */
  display: none; /* Skryj element při výchozím stavu */
}

/**
.btn-danger {
  color: white !important;
}

.btn-secondary {
  background-color: #35f0c5 !important;
  border-color: #35f0c5 !important;
  color: #fff !important;
  &:hover {
    background-color: #22987d !important;
    border-color: #22987d!important;
    color: #fff !important;
  }
}

.btn-outline-secondary {
  border-color: #35f0c5 !important;
  color: #35f0c5 !important;
  &:hover {
    background-color:#35f0c5 !important;
    color: #fff !important;
  }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff !important;
  background-color: #6435f0;
}

.nav-link {
  color: #6435f0 !important;
}

#userMenu {
  li {
    width: 100%;
    button {
      width: 100%;
    }
  }
}

.bg-primary {
  background-color: #6435f0 !important;
}

 */

.badge-count {
  background: $secondary;
  padding: 4px 10px;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  margin-left: 4px;
}

.logo {
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}

.btn-white {
  background-color: white;
  color: $primary;
  &:hover {
    background-color: #ececec;
    color: $primary;
  }
}

.btn-secondary {
  background-color: $secondary !important;
  border-color: $secondary !important;
  color: #fff !important;
  &:hover {
    background-color: rgb(209, 160, 8) !important;
    border-color: rgb(209, 160, 8) !important;
    color: #fff !important;
  }
}

.btn-outline-secondary {
  border-color: $secondary !important;
  color: $secondary !important;
  &:hover {
    background-color:$secondary !important;
    color: #fff !important;
  }
}

.btn-outline-white {
  border: 1px solid white;
  color: white;
  &:hover {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.gap-10 {
  gap: 10px;
}

.gap-30 {
  gap: 30px;
}

.rg-30 {
  row-gap: 30px;
}

.hover-effect:hover {
  transform: translateY(-5px);
}
 .hover-effect {
   transition: transform 0.2s ease-in-out;
 }

 .input-from {
   color: $primary;
 }

 .input-to {
   color: $secondary;
 }

.nav-link {
  font-weight: 600;
}

#uvod {
  background-color: $primary;
  color: white;
  h1 {
    font-size: 3rem;
    line-height: 1;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .btn {
    padding: 15px 25px !important;
    font-weight: 600;
  }
}

#funguje {
  background-color: #f9fafc;
  .icon-circle {
    color: $primary;
    background-color: rgba(13, 110, 253, 0.1);
    padding: 15px 19px;
    border-radius: 50px;
  }
}

#popular {
 .card {
   overflow: hidden;
   .img-fluid {
     width: 100%;
     position: absolute;
     top: 0;
   }
   img {
     object-fit: cover;
   }
 }
}

#proc {
  background-color: #f9fafc;
  .icon-circle {
    color: rgb(34 197 94);
    background-color: rgba(34, 197, 94, 0.1);
    padding: 15px 22px;
    border-radius: 50px;
  }
}

.bg-grey {
  background-color: #e4e8e7;
}

.fw-600 {
  font-weight: 600;
}

.ride-card {
  overflow: hidden;
  .card-body {
    padding: 0;
    .bg-primary {
      background-color: $primary;
      width: 100%;
      position: relative;
      top: 0;
      padding: 20px;
      .card-title {
        color: white;
      }
      .perseat {
        color: white;
        display: flex;
        flex-direction: column;
        .text-small {
          font-size: 12px;
        }
      }
    }
    .card-content{
      padding: 20px;
      padding-bottom: 0;
      .card-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}

.sticky-top {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.object-cover {
  object-fit: cover !important;
}

