<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Domovská stránka | CarPoolMate</title>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container mt-5">

    <div th:if="${param.successRideCreate}" id="Message">
        <div class="alert alert-success">Úspěšně vytvořena jízda</div>
    </div>

    <div th:if="${successMessage}">
        <div class="alert alert-success" th:text="${successMessage}"></div>
    </div>

    <div class="row">
        <div class="col-md-4" style="height: fit-content">
            <div class="card h-100 shadow-lg">
                <div class="card-body p-4 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="text-center mt-2 mb-4">Vyhledat jízdu</h2>
                    <form class="row g-3" th:action="@{/rides/filter}" method="get">
                        <div class="col-12 position-relative">
                            <div class="input-group">
                                    <span class="input-group-text input-from">
                                        <i class="fa-solid fa-map-pin"></i>
                                    </span>
                                <input type="text" id="startLocation" name="startLocation" class="form-control"
                                       placeholder="Odkud" th:value="${startLocation}" autocomplete="off">
                            </div>
                            <ul id="startLocationSuggestions" class="list-group mt-2" style="display:none;"></ul>
                        </div>

                        <div class="col-12 position-relative">
                            <div class="input-group">
                                    <span class="input-group-text input-to">
                                        <i class="fa-solid fa-map-pin"></i>
                                    </span>
                                <input type="text" id="destination" name="destination" class="form-control" placeholder="Kam" th:value="${destination}" autocomplete="off">
                            </div>
                            <ul id="destinationSuggestions" class="list-group mt-2" style="display:none;"></ul>
                        </div>
                        <div class="col-md-6">
                            <input type="date" name="departureDate" th:value="${departureDate}" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="time" name="departureTime" th:value="${departureTime}" class="form-control" placeholder="Čas od">
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-money-bill"></i>
                                    </span>
                                <input type="number" name="maxPrice" th:value="${maxPrice}" class="form-control" placeholder="Max cena">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-users"></i>
                                    </span>
                                <input type="number" name="minSeats" th:value="${minSeats}" class="form-control" placeholder="Počet míst">
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-secondary w-100 mt-3"><i class="fas fa-search"></i> Vyhledat</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <div th:if="${param.success}">
                <div class="alert alert-success">Úspěšně rezervované místo</div>
            </div>

            <div th:if="${param.error}">
                <div class="alert alert-danger">Chyba při rezervaci místa</div>
            </div>

            <div th:if="${errorMessage}">
                <div class="alert alert-danger" th:text="${errorMessage}"></div>
            </div>


            <!-- RIDE CARDS -->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4" th:if="${rides != null}">
                <div class="col" th:each="ride : ${rides}">
                    <div class="card h-100 shadow-md ride-card">
                        <div class="card-body">
                            <div class="bg-primary">
                                <div class="row">
                                    <div class="col-6">
                                        <h5 class="card-title" th:text="${ride.startLocation}"></h5>
                                        <h5><i class="fa-solid fa-arrow-down text-secondary"></i></h5>
                                        <h5 class="card-title" th:text="${ride.destination}"></h5>
                                    </div>
                                    <div class="col-6 d-flex align-items-center justify-content-end">
                                        <h5 class="perseat"><span th:text="${#numbers.formatDecimal(ride.pricePerSeat, 0, 0)} + ' Kč'"></span><span class="text-small">za osobu</span></h5>
                                    </div>
                                </div>
                            </div>
                           <div class="card-content">
                               <div class="card-text">
                                   <div><i class="fa-solid fa-calendar me-2 text-secondary"></i><span th:text="${ride.formattedDepartureTime}"></span></div>
                                   <div><i class="fa-solid fa-car-side me-2 text-secondary"></i><span th:text="${ride.driver.getCarType()}"></span></div>
                                   <div><i class="fa-solid fa-users me-2 text-secondary"></i><span th:text="${ride.availableSeats}"></span></div>
                                   <div class="d-flex gap-3 align-items-center">
                                       <!-- Profile Picture -->
                                       <img th:if="${not #strings.isEmpty(ride.driver.profilePicturePath)}"
                                            th:src="${ride.driver.getProfilePicturePath()}"
                                            alt="ProfilePic"
                                            class="rounded-circle"
                                            width="50px" height="50px">

                                       <!-- Initials Fallback -->
                                       <div th:if="${#strings.isEmpty(ride.driver.profilePicturePath)}"
                                            class="rounded-circle bg-grey text-white d-flex justify-content-center align-items-center"
                                            style="width: 50px; height: 50px; font-weight: bold;">
                                           <span class="text-primary" th:text="${ride.driver.getFirstName().substring(0,1) + ride.driver.getLastName().substring(0,1)}"></span>
                                       </div>

                                       <!-- Driver Name and Role -->
                                       <div class="d-flex flex-column">
                                           <a th:href="@{/profiles/{id}(id=${ride.driver.id})}"
                                              th:text="${ride.driver.getFirstName() + ' ' + ride.driver.getLastName()}"></a>
                                           <span class="text-muted text-small">Řidič</span>
                                       </div>
                                   </div>

                               </div>
                               <form th:action="@{'/rides/book/' + ${ride.id}}" method="post">
                                <button th:action="@{'/rides/book/' + ${ride.id}}" class="btn btn-secondary w-100 mt-4 fw-600">Rezervovat jízdu</button>
                               </form>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- No rides found -->
            <div th:if="${rides != null and #lists.isEmpty(rides)}" class="alert alert-warning mt-4">
                Žádné jízdy nebyly nalezeny pro zadané parametry.
            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/scripty"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>