<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Domovská stránka | CarPoolMate</title>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container mt-5">

    <div th:if="${param.successRideCreate}" id="Message">
        <div class="alert alert-success">Úspěšně vytvořena jízda</div>
    </div>

    <div class="row">
        <div class="col-md-4" style="height: fit-content">
            <div class="card h-100 shadow-lg">
                <div class="card-body p-4 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="text-center mt-2 mb-4">Vyhledat jízdu</h2>
                    <form class="row g-3" th:action="@{/rides/filter}" method="get">
                        <div class="col-12 position-relative">
                            <div class="input-group">
                                    <span class="input-group-text input-from">
                                        <i class="fa-solid fa-map-pin"></i>
                                    </span>
                                <input type="text" id="startLocation" name="startLocation" class="form-control"
                                       placeholder="Odkud" th:value="${startLocation}" autocomplete="off">
                            </div>
                            <ul id="startLocationSuggestions" class="list-group mt-2" style="display:none;"></ul>
                        </div>

                        <div class="col-12 position-relative">
                            <div class="input-group">
                                    <span class="input-group-text input-to">
                                        <i class="fa-solid fa-map-pin"></i>
                                    </span>
                                <input type="text" id="destination" name="destination" class="form-control" placeholder="Kam" th:value="${destination}" autocomplete="off">
                            </div>
                            <ul id="destinationSuggestions" class="list-group mt-2" style="display:none;"></ul>
                        </div>
                        <div class="col-md-6">
                            <input type="date" name="departureDate" th:value="${departureDate}" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="time" name="departureTime" th:value="${departureTime}" class="form-control" placeholder="Čas od">
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-money-bill"></i>
                                    </span>
                                <input type="number" name="maxPrice" th:value="${maxPrice}" class="form-control" placeholder="Max cena">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-users"></i>
                                    </span>
                                <input type="number" name="minSeats" th:value="${minSeats}" class="form-control" placeholder="Počet míst">
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-secondary w-100 mt-3"><i class="fas fa-search"></i> Vyhledat</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- RIDE CARDS -->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" th:if="${rides != null}">
                <div class="col" th:each="ride : ${rides}">
                    <div class="card h-100 shadow-md">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${ride.startLocation} + ' → ' + ${ride.destination}"></h5>
                            <p class="card-text">
                                <strong>Datum:</strong> <span th:text="${ride.formattedDepartureTime}"></span><br>
                                <strong>Cena za sedadlo:</strong> <span th:text="${ride.pricePerSeat} + ' Kč'"></span><br>
                                <strong>Volná místa:</strong> <span th:text="${ride.availableSeats}"></span><br>
                                <strong>Řidič:</strong>
                                <a th:href="@{/profiles/{id}(id=${ride.driver.id})}"
                                   th:text="${ride.driver.getFirstName() + ' ' + ride.driver.getLastName()}"></a>

                            </p>
                            <a th:href="@{'/rides/' + ${ride.id}}" class="btn btn-outline-primary">Zobrazit</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- No rides found -->
            <div th:if="${rides != null and #lists.isEmpty(rides)}" class="alert alert-warning mt-4">
                Žádné jízdy nebyly nalezeny pro zadané parametry.
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/scripty"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>