<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Detail jízdy | CarPoolMate</title>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container mt-5">
    <h1>Pasažéři jízdy</h1>

    <div th:if="${param.success}">
        <div class="alert alert-success">Úspěšně zobrazeni</div>
    </div>

    <div th:if="${param.error}">
        <div class="alert alert-danger">Chyba při zobrazování</div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Jméno</th>
            <th>Email</th>
            <th>Telefon</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="passenger : ${passengers}">
            <td th:text="${passenger.firstName} + ' ' + ${passenger.lastName}"></td>
            <td th:text="${passenger.email}"></td>
            <td th:text="${passenger.phoneNumber}"></td>
        </tr>

        <tr th:if="${passengers.isEmpty()}">
            <td colspan="5" class="text-center" style="color: gray;">Nejsou žádný pasažéři</td>
        </tr>
        </tbody>
    </table>

    <div class="mt-3">
        <a th:href="@{/}" class="btn btn-outline-primary">Zpět na seznam jízd</a>
    </div>
</div>
<div th:replace="fragments/scripty"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>